.main-body{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.body{
    margin: 0 10% 25px 10%;

}

.exercises{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.count-exercise{
    background-color: #04800411;
    border-radius: 5px;
    text-align: center;
    padding: 15px;
    position: sticky;
}

@media screen and (max-width: 600px) {
    
    .exercises{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}